on: workflow_dispatch
name: SNIS_make_repo_x86
jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    permissions:                # Job-level permissions configuration starts here
      contents: write           # 'write' access to repository contents
      pull-requests: write      # 'write' access to pull requests
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-44
      options: --privileged
    steps:  
    - uses: actions/checkout@v4
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
        fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.

    - name: prep
      run: |
        git config --global --add safe.directory /__w/snis_flatpak/snis_flatpak
        git submodule add https://github.com/flathub/shared-modules.git
        
    - uses: jochumdev/flatpak-github-actions/flatpak-builder@builder-update-deps
    #- uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: io.github.smcameron.space-nerds-in-space
        manifest-path: io.github.smcameron.space-nerds-in-space.yml
        cache-key: flatpak-builder-${{ github.sha }}
        upload-artifact: "false"
    - name: See
      run: |   
        ls -l
    - name: Send to my git
      run: |
        git config --global --add safe.directory /__w/snis_flatpak/snis_flatpak
        git config --global --add safe.directory /github/workspace
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add -f repo/*
        git commit -m "I am commited"
        git remote set-url origin https://git:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git push origin main     
        
      # https://github.com/ad-m/github-push-action
      # https://github.com/orgs/community/discussions/68891
      # https://github.com/orgs/community/discussions/25234
