on: workflow_dispatch

name: SNIS_make_download
jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-44
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - uses: jochumdev/flatpak-github-actions/flatpak-builder@builder-update-deps
    #- uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        #upload-artifact: "false"
        bundle: io.github.vpelss.snis_flatpak
        manifest-path: io.github.vpelss.snis_flatpak.yml
        cache-key: flatpak-builder-${{ github.sha }}

    - name: See
      run: |   
        ls -l
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: io.github.vpelss.snis_flatpak
        path: io.github.vpelss.snis_flatpak
 
    - name: upload binaries to release
      uses: softprops/action-gh-release@v2
      with:
          tag_name: "try_me"
          files: io.github.vpelss.snis_flatpak
